@charset "utf-8";


/*HD Player
2013-05-29 ver.1
2013-06-05 ver.2
2013-06-18 ver.3
jian*/

#hd{width:980px;height:510px;padding:4px 7px 4px 8px}
	.l_side{width:779px;height:498px;float:left;}
		.movie{width:777px;height:437px;border:1px solid #c5c5c5;border-left:none}
		
		.player{width:769px;padding:3px 10px 9px 0px;height:47px;background:#ffccff url(../images/bg_payerHD.gif) no-repeat left top;position:relative}
	 	.bar_blue{padding-bottom:5px}
			/*버튼*/
		.ctrl{padding:9px 0 0 13px;overflow:hidden}
		.play{float:left;}
				.btn_play{cursor:pointer;width:31px;height:29px;float:left;background:url(../images/bu1.gif) no-repeat left -29px;font-size:0;text-indent:-999px;overflow:hidden}
				.btn_play.select{background-position:left top}
				.btn_play.pause{cursor:pointer;background-position:left -58px}
				.btn_play.pause.select{background-position:left -87px}
				.btn_stop{cursor:pointer;width:31px;height:29px;float:left;background:url(../images/bu2.gif) no-repeat left top;font-size:0;text-indent:-999px;overflow:hidden}
				.btn_stop.select{background-position:left -29px}

		.rewind{margin-left:63px;float:left;padding-top:2px}
			.btn_sp10{cursor:pointer;width:25px;height:26px;background:url(../images/bu3.gif) no-repeat left top;float:left}
			.btn_sp10.select,
			.btn_sp30.select,
			.btn_sp60.select{background-position:left -26px}
			.btn_sp30{cursor:pointer;margin-left:3px;width:25px;height:26px;background:url(../images/bu4.gif) no-repeat left top;float:left}
			.btn_sp60{cursor:pointer;margin-left:3px;width:25px;height:26px;background:url(../images/bu5.gif) no-repeat left top;float:left}			

			.speed{float:left;padding-top:2px;margin-left:57px}
			.current_sp{font:11px/1 gulim,"굴림",arial;float:left;padding-top:9px}
			.btn_sp1,.btn_sp2,.btn_sp3{cursor:pointer;width:25px;height:26px;float:left;margin-left:2px}
			.btn_sp1{background:url(../images/bu7.gif) no-repeat left top;}
			.btn_sp2{background:url(../images/bu8.gif) no-repeat left top;}
			.btn_sp3{background:url(../images/bu9.gif) no-repeat left top;}
			
			.btn_sp1{margin-left:11px;}
			.btn_sp1.select,
			.btn_sp2.select,
			.btn_sp3.select
			{background-position:left -26px}

		p.volume{width:75px;float:left;margin-left:32px;padding-top:10px}
		p.view_max{cursor:pointer;width:25px;height:26px;float:left;margin-top:2px;background:url(../images/bu6_bold.gif) no-repeat left top}
		p.view_max.select{background-position:left -26px}
		p.sync{float:right;width:106px;height:16px;padding:10px 9px 0 0;font:12px/1 dotum,"돋움";}
		p.sync label{padding:0 3px}   


	.r_side{width:171px;height:491px;background:#f2f1ee url(../images/bg_title.jpg) no-repeat left top;margin-left:6px;padding:0 5px 6px 5px;float:left;border-bottom:2px solid #ccc}/*width:181px;height:498;*/
	h5{height:40px;padding:23px 9px 0 9px;color:#fff;font:bold 13px/1 dotum,"돋움";text-align:center}
	.study_list{font:12px/1 dotum,"돋움";letter-spacing:-2px}
	.study_list>li {padding:2px 0;border-bottom:1px dotted #787878}
	.study_list>li span{display:block;padding:6px 7px;vertical-align:middle;color:#5a5a5a;}
		.study_list li span.select{background:#bfd39f;color:#2c301a}
	.study_list_sub{margin-top:2px;padding:2px 0 0 10px;border-top:1px dotted #787878}
	.study_list_sub li {padding:2px 0;border-bottom:1px dotted #787878}
	.study_list_sub li.last{border:none;padding-bottom:0}


[data-time] {
    cursor:pointer;
}

/*------------- Player ------------- */
#playBar {
    float: left;
    clear: left;
    width: 773px;
    height: 4px;
    background: none;
    border: none;
}
#volumeSlide {
    float: left;
    clear: left;
    width: 52px;
    height: 3px;
    background: none;
    border: none;
}
#playBar .ui-slider-range {
    background: url(../images/bar1_HD.gif);
    height: 4px;
}
#playBar .ui-slider-handle {
    width: 10px;
    height: 10px;
    background: url(../images/ctbu1.gif) no-repeat left top;
    border: none;
    margin: 2px 0 0 -1px;
    cursor:pointer
}
#volumeSlide .ui-slider-range {
    background: url(../images/bar2.gif);
	margin-top:2px
}
#volumeSlide .ui-slider-handle {
    width: 10px;
    height: 10px;
    background: url(../images/ctbu2.gif) no-repeat left top;
    border: none;
    margin: 3px 0 0 -1px;
	cursor:pointer
}
/*---------------------------------- */