@charset "utf-8";
/*
2013-05-16 jian
공통사항은 common을 참조. 
*/



/*요약정리*/
.sum01_bg {background:url(../images/bg_sum02.png) no-repeat;}
a {color:#fff7db; text-decoration: none;font:1em/1 굴림, "gulim" ,"Arial"}
dl.sum {padding:70px 0 0 140px;width:700px; height:450px; overflow:hidden; color:#000;}
dl.sum dt{float:left;}
.sum01_tit{
	position: absolute;
	top: 14px;
	left: 111px;
}
dl.sum dd{float:left;width:700px; padding:0px 0 0 30px; line-height:1.5em;}
* html dl.sum dd{width:737px;}/*IE6 이하핵*/
dl.sum dd strong{color:#fff;}
.dott{padding-left:10px; line-height:1.8em}
.wid{width:400px; height:440px;overflow-y:auto;overflow-x:hidden;}
ol{width:650px;}
.nu{ list-style-type:decimal; line-height:24px; padding-top:35px;}
.print {position:absolute;top:500px; left:750px;}
.print {.position:absolute;.top:60px;}/*IE6,7핵*/
