@charset "utf-8";
/*
2013-05-16 jian
공통사항은 common을 참조. 
*/

/*토론 및 과제*/
dl.discn {padding:70px 0 0 37px;width:880px}
dl.discn.sum{}
dl.discn dt{float:left;height:80px;padding-right:18px}
dl.discn.sum dt{height:250px}
dl.discn dd{float:left;width:681px;padding:5px 0 0 15px;line-height:1.8em}
			dd strong{font-weight:bold;color:#a1702b}
dl.discn.dot dd{background:url(../images/dot.gif) no-repeat 5px center}
table{border:1px solid #f0e6d3;width:100%;background:#f0e6d3}
th, td{border:1px solid #fdfbf8;border-top:none;border-left:none;padding:4px 6px;line-height:1.6em}
td{background:#fdf7eb;padding:2px 4px}
th.last, td.last{border-right:none}
