


#if($type == 'otherClass')
	#set($style_list= '')
	#set($style_page= '')
#else
	#set($style_list= 'text-center')
	#set($style_page= 'page')
#end

	<div class="${style_list}">
		<ul class="paging-wrap">
	#if($startPage > $indexSize)
			<li class="page-btn"><a href="javascript:${jsFunction}(1);" title="페이지 처음으로">처음</li>
	#end
	#if($page > 10)
		#set($prevIdx = $page - 10)
			<li class="page-btn"><a href="javascript:${jsFunction}(${prevIdx});" title="페이지 이전으로">이전</li>
	#end

	#foreach( $idx in [$startPage..$endPage] )
		#if($idx != $page)
			<li class="pages"><a href="javascript:${jsFunction}(${idx});" title="${idx} Page">$idx</a></li>
		#else
			<li class="pages active"><a href="#href" title="${idx} Page"><strong>$idx</strong></a></li>
		#end
	#end

	#if($page < $totalPage)
		#if($page /10 != ($totalPage - 1) /10)
			#set($nextIdx = ((($page - 1) / 10) * 10 + 11))
			<li class="page-btn"><a href="javascript:${jsFunction}(${nextIdx});" title="페이지 다음으로">다음</li>
		#end
	#end
	#if($currentPageCount < $lastPageCount)
		<li class="page-btn"><a href="javascript:${jsFunction}(${totalPage});" title="페이지 마지막으로">마지막</li>
	#end
		</ul>
	</div>

